<div class="content" role="main">
    <div class="BievenidaXD" *ngIf="afAuth.authState | async as user">
        <p>Welcome {{user.displayName}} !!!</p>
        <p>User Actual {{user.uid}} !!!</p>
    </div>
</div> 

<footer class="footer" [hidden]="ocultarMostrarTabla">
    <div>
        <h2>Vuelos Reservados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ORIGEN</th>
                    <th>DESTINO</th>
                    <th>REDONDO</th>
                    <th>SENCILLO</th>
                    <th>FECHA SALIDA</th>
                    <th>FECHA REGRESO</th>
                    <th>ID USER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection.data | paginate: config">
                    
                    <td>{{item.Origen}}</td>
                    <td>{{item.Destino}}</td>
                    <td>{{item.Redondo}}</td>
                    <td>{{item.Sencillo}}</td>
                    <td>{{item.FechaSalida}}</td>
                    <td>{{item.FechaRegreso}}</td>
                    <td>{{item.UserIdLog}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="controls-table" (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
</footer>