/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ventolinedb.appspot.com/o/wallpaper3.jpg?alt=media&token=dbc682f4-f20f-4f2c-bd21-8cadcff4c8cf");
    background-repeat: no-repeat;
    background-attachment: fixed
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
